* {
  box-sizing: border-box;
}

// @media screen and (min-width: 375px) {
//   html {
//     font-size: 50px;
//   }
// }
//
// @media screen and (min-width: 768px) {
//   html {
//     font-size: 100px;
//   }
// }
//
// @media screen and (min-width: 1024px) {
//   html {
//     font-size: 150px;
//   }
// }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Home {
  padding: 10px;

  * {
    font-size: 14px;
  }

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .left {
      > span {
        font-size: 30px;
        font-weight: bold;
      }

      > button {
        margin-left: 5px;
      }
    }

    .right {
      padding-top: 10px;
    }
  }

  .treeSelect {
    margin-top: 10px;
    width: 100%;
  }

  .date-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .year-switch-panel {
      flex: 1 0 30%;
      padding: 0 5px;

      span {
        font-size: 16px;
        line-height: 1.8;
      }

      i {
        font-size: 12px;
        line-height: 2.5;
      }
    }

    .tag-bar {
      padding: 3px 0;
      padding-left: 10px;
      flex: 1 0 70%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;

      .ant-tag {
        flex: 1 1 auto;
        text-align: center;
      }
    }
  }

  .analyst-overall-table {
    margin-top: 10px;
  }
}

.year-switch-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;

  > * {
    display: block;
  }

  i {
    font-size: 14px;
    line-height: 2;

    &:hover {
      color: #1591E1;
      cursor: pointer;
    }
  }

  span {
    font-size: 18px;
    font-weight: 500;
  }
}
